<mat-card appearance="outlined" class="card-detail">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button *ngIf="!isNew" (click)="confirmDelete()">Borrar</button>
    <button mat-button [disabled]="isFormInvalid()" (click)="onSave()">
      Guardar
    </button>
  </mat-card-actions>
  <mat-card-content class="mat-card-content">
    <form [formGroup]="ppalForm">
      <div class="input-responsive">
        <mat-form-field class="size-input" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Nombre"
            type="text"
            formControlName="firstName"
          />
          <mat-error *ngIf="false" class="form-control-feedback">
            Required field
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-responsive">
        <mat-form-field class="size-input" appearance="outline">
          <mat-label>Apellido</mat-label>
          <input
            matInput
            placeholder="Apellido"
            type="text"
            formControlName="lastName"
          />
          <mat-error *ngIf="false" class="form-control-feedback">
            Required field
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-responsive">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input
            matInput
            placeholder="Usuario"
            type="text"
            formControlName="userName"
          />
          <mat-error *ngIf="false" class="form-control-feedback">
            Required field
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-responsive">
        <mat-form-field class="size-input" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            type="text"
            formControlName="email"
          />
          <mat-error *ngIf="false" class="form-control-feedback">
            Required field
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-responsive">
        <app-select-filter
          label="Tipo de Perfil"
          [data]="profileData"
          (ItemSelected)="onProfileSelected($event)"
          [setValue]="profileSelected"
        ></app-select-filter>
      </div>
      <div class="input-responsive">
        <mat-form-field class="size-input" appearance="outline">
          <mat-label>Codigo externo</mat-label>
          <input
            matInput
            placeholder="Codigo externo"
            type="text"
            formControlName="externalCode"
          />
          <mat-error *ngIf="false" class="form-control-feedback">
            Required field
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-responsive form-status">
        <mat-slide-toggle formControlName="isActive" *ngIf="!isNew">
          Activo
        </mat-slide-toggle>
      </div>
    </form>
  </mat-card-content>
</mat-card>
