<configuration>
	<connectionStrings>
		<!--Prod-->
		<!--<add name="myConnection" connectionString="Server=MYSQL8003.site4now.net;Database=db_aa5a62_db5;Uid=aa5a62_db5;Pwd=*Pasa2024" />-->
		<!--Dev-->
		<add name="myConnection" connectionString="Server=localhost;Port=3308;Database=softgeek-lotery-db;Uid=root;Pwd=Adr1an978**;" />

	</connectionStrings>
</configuration>
